{% extends "main.html" %}

{% block content %}

<h2>Change Password</h2>

<form method="POST">

{% csrf_token %}

<input type="password"
       name="old_password"
       placeholder="Old Password"
       required><br><br>

<input type="password"
       name="new_password1"
       placeholder="New Password"
       required><br><br>

<input type="password"
       name="new_password2"
       placeholder="Confirm Password"
       required><br><br>

<button type="submit">

Change Password

</button>

</form>

<br>

<a href="{% url 'profile' %}">

<button>

Back

</button>

</a>

{% endblock %}