{% extends 'main.html' %}

{% block content %}

<h1>Department List</h1>

<a href="{% url 'create_department' %}">

Add Department

</a>

|

<a href="{% url 'department_history' %}">

Deleted Departments

</a>

<br><br>

<table border="1">

<tr>

<th>SL NO</th>

<th>Name</th>

<th>Description</th>

<th>Actions</th>

</tr>

{% for i in data %}

<tr>

<td>{{ forloop.counter }}</td>

<td>{{ i.department_name }}</td>

<td>{{ i.description }}</td>

<td>

<a href="{% url 'update_department' i.id %}">

Edit

</a>

|

<a href="{% url 'delete_department' i.id %}">

Delete

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}