{% extends 'main.html' %}

{% block content %}

<h1>Doctor List</h1>

<a href="{% url 'create_doctor' %}">Add Doctor</a>

|

<a href="{% url 'doctor_history' %}">

View Deleted Doctors

</a>

<table border="1">

<tr>

<th>SL NO</th>

<th>Department</th>

<th>Name</th>

<th>Specialization</th>

<th>Experience</th>

<th>Phone</th>

<th>Email</th>

<th>Photo</th>

<th>Action</th>

</tr>

{% for i in data %}

<tr>

<td>{{ forloop.counter }}</td>

<td>{{ i.department }}</td>

<td>{{ i.doctor_name }}</td>

<td>{{ i.specialization }}</td>

<td>{{ i.experience }}</td>

<td>{{ i.phone }}</td>

<td>{{ i.email }}</td>

<td>

{% if i.doctor_image %}

<img src="{{ i.doctor_image.url }}" width="100">

{% endif %}

</td>

<td>

<a href="{% url 'update_doctor' i.id %}">

Edit

</a>

|

<a href="{% url 'delete_doctor' i.id %}">

Delete

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}