<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Hospital Management System</title>

    {% load static %}

    <link rel="stylesheet"
          href="{% static 'style.css' %}">

</head>

<body>

    {% include 'nav.html' %}

    <div class="container">

        {% if messages %}

            {% for i in messages %}

                <div class="message">

                    {{ i }}

                </div>

            {% endfor %}

        {% endif %}

        {% block content %}

        {% endblock %}

    </div>

</body>

</html>