<nav>

    {% if user.is_authenticated %}

    <a href="{% url 'profile' %}">Profile</a>

    <a href="{% url 'department_list' %}">Department</a>

    <a href="{% url 'doctor_list' %}">Doctor</a>

    <a href="{% url 'patient_list' %}">Patient</a>

    <a href="{% url 'appointment_list' %}">Appointment</a>

    <a href="{% url 'record_list' %}">Medical Records</a>

    <a href="{% url 'signout' %}">Logout</a>

    {% else %}

    <a href="{% url 'signup' %}">Signup</a>

    <a href="{% url 'signin' %}">Signin</a>

    {% endif %}

</nav>

<hr>